.chat-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  width: 600px;

  .chat-body {
    display: flex;
    flex-direction: column;

    .chat-message {
      margin: 6px 0;

      .ant-card-body {
        word-break: break-word;
      }
    }
  }

  .chat-controls {
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    background: white;
    padding-bottom: 32px;

    > span {
      padding: 6px;
    }
  }
}
