.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  position: relative;

  .chat-body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    overflow: auto;
    position: relative;

    .chat-message {
      margin: 6px 0;

      @media(max-width: 767px) {
        margin: -1px 0;
        border-bottom: none;
      }

      &.mentioned .ant-card-body {
        background: rgba(255, 215, 0, 0.4);
      }

      &.grouped {
        margin-top: -8px;
        border-top: none;

        .ant-card-head {
          display: none;
        }
      }

      .ant-card-head-title > a {
        height: auto;
        display: block;
        width: fit-content;

        .chat-message__title {
          display: flex;
          align-items: center;
          color: black;
          width: fit-content;

          &.online {
            .ant-avatar {
              border-color: #1890ff;
            }
          }

          .ant-avatar {
            background-color: transparent;
            border: 2px solid lightgrey;
            margin: -4px 0;
            display: block;
            box-sizing: content-box;
          }

          .chat-message__nickname {
            margin-left: 12px;
          }
        }
      }

      .chat-time {
        cursor: pointer;
      }

      .ant-card-head {
        padding: 0 12px;

        .ant-card-head-wrapper > div {
          padding: 12px 0;
        }
      }

      .ant-card-body {
        word-break: break-word;
        white-space: pre-line;
        padding: 12px;

        > img {
          max-height: 256px;
          width: auto;
          max-width: 100%;
          margin: 0 auto;
          display: block;
        }

        .critMiss {
          background: rgba(255, 0, 0, 0.075);
        }

        .critHit {
          background: rgba(0, 255, 0, 0.075);
        }

        .command-message {
          display: flex;
          > b {
            margin-left: 4px;
            background: rgba(24, 144, 255, 0.025);
          }
        }

        .rp-message {
          margin: -12px;
          padding: 12px;
          width: auto;
          display: block;
          background: rgba(24, 144, 255, 0.075);
        }
      }
    }
  }

  .chat-controls {
    display: flex;
    align-items: center;
    width: inherit;
    position: relative;
    bottom: 0;
    background: white;
    padding-top: 4px;
    padding-bottom: 32px;
    border-top: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    > span {
      padding: 6px;
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
