.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 600px;
  justify-content: flex-end;
  padding: 0;
  margin: 0;

  .chat-body {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    overflow: auto;

    .chat-message {
      margin: 6px 0;

      .ant-card-body {
        word-break: break-word;
        white-space: pre-line;
      }
    }
  }

  .chat-controls {
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    background: white;
    padding-top: 4px;
    padding-bottom: 32px;
    border-top: 1px solid lightgray;

    > span {
      padding: 6px;
    }
  }
}
