@import "colors.css";

#root {
  background-color: var(--background-color);
}

div, span, pre, ul, li, h1 {
  border-color: var(--border-color);
  color: var(--text-color);
}

.ant-card, .ant-modal-content {
  background-color: var(--background-color-light);
  border-color: var(--background-color);

  .ant-card, .ant-modal-header, .ant-modal-footer {
    background-color: var(--background-color-light);
    border-color: var(--border-color);
  }
  .ant-card-head {
    border-color: var(--border-color);
  }

  .ant-modal-confirm-body * {
    color: var(--text-color);
  }
  a {
    color: var(--text-color-selected);

    &:hover {
      color: #1890ff;
    }
  }

  &.grouped {
    border-top-color: var(--border-color);
  }

  .ant-card-body {
    position: relative;

    .ant-card {
      background-color: var(--background-color-lighter);
      border-color: var(--border-color);
    }
  }
}

.ant-popover {
  .ant-popover-arrow {
    border-color: var(--background-color-light) !important;
  }

  .ant-popover-content, .ant-popover-inner {
    background-color: var(--background-color-light);
    border-color: var(--background-color);

    * {
      border-color: var(--border-color);
      color: var(--text-color);
    }
  }
}

.ant-menu, .ant-menu-submenu > .ant-menu {
  background-color: var(--background-color-light);
  border-color: var(--background-color);

  .ant-menu-item > a {
    color: var(--text-color);
  }

  .ant-menu-item-selected {
    background-color: var(--background-color-selected) !important;
    color: var(--text-color) !important;

    &:after {
      border-color: var(--text-color-selected);
    }
  }

  .ant-menu-item-disabled > a, .ant-menu-submenu-disabled > a {
    color: var(--text-color-selected) !important;
  }
}

.ant-menu-submenu {
  background-color: var(--background-color-light);
  border-color: var(--background-color);
}

.ant-tabs {
  .ant-tabs-bar {
    border-color: var(--border-color-lighter);
  }

  .ant-tabs-ink-bar {
    background-color: var(--text-color-selected);
  }

  .ant-tabs-tab {
    margin: 0;
    padding: 12px;

    &.ant-tabs-tab-active {
      background-color: var(--background-color-selected);
      color: var(--text-color-selected);
    }
  }
}

.ant-input-affix-wrapper {
  background-color: var(--background-color-interactive);
  border-color: var(--border-color-interactive);
  color: var(--text-color);
}

.ant-input {
  background-color: var(--background-color-interactive);
  border-color: var(--border-color-interactive);
  color: var(--text-color);

  &:hover {
    border-color: var(--background-color-selected);
  }

  &::placeholder {
    color: rgba(167, 167, 167, 0.6);
  }

  &:read-only {
    background-color: var(--background-color);
  }

  &:disabled {
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--background-color-lighter);
  }
}

.ant-btn {
  background-color: var(--background-color-interactive);
  border-color: var(--border-color-interactive);
  color: var(--text-color);

  span {
    color: var(--text-color);
    transition-duration: 0.3s;
  }

  &:hover {
    background-color: var(--border-color-interactive);
    border-color: var(--background-color-selected);

    span {
      color: var(--background-color-selected);
    }

    svg {
      fill: var(--background-color-selected);
    }
  }

  &:focus {
    background-color: var(--background-color-interactive-lighter);
    span {
      color: #40a9ff !important;
    }
  }

  &:disabled {
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--background-color-lighter);
    pointer-events: none;
    * {
      color: var(--background-color-lighter);
      fill: var(--background-color-lighter);
    }
  }
}

.ant-btn-dangerous-disabled, .ant-btn-dangerous.disabled, .ant-btn-dangerous[disabled], .ant-btn-dangerous-disabled:hover, .ant-btn-dangerous.disabled:hover, .ant-btn-dangerous[disabled]:hover, .ant-btn-dangerous-disabled:focus, .ant-btn-dangerous.disabled:focus, .ant-btn-dangerous[disabled]:focus, .ant-btn-dangerous-disabled:active, .ant-btn-dangerous.disabled:active, .ant-btn-dangerous[disabled]:active, .ant-btn-dangerous-disabled.active, .ant-btn-dangerous.disabled.active, .ant-btn-dangerous[disabled].active {
  background-color: var(--background-color);
  color: var(--background-color-light);
  border-color: var(--border-color);

  .anticon svg {
    fill: var(--border-color);
  }
}

.anticon svg {
  fill: var(--text-color);
  transition-duration: 0.3s;
}

.ant-radio-button-wrapper {
  background-color: var(--background-color-interactive);
  border: 1px solid var(--border-color-interactive) !important;
  color: var(--text-color);
  border-radius: 0 !important;

  &:first-child {
    border-radius: 4px 4px 0 0 !important;
  }
  &:last-child {
    border-radius: 0 0 4px 4px !important;
  }

  &::before {
    display: none !important;
  }

  &.ant-radio-button-wrapper-checked {
    background-color: var(--background-color-selected);
    color: var(--text-color-selected);
  }
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--background-color-interactive);
  border-color: var(--border-color-interactive);
  color: var(--text-color);
  width: 128px;
}

.ant-input-number {
  background-color: var(--background-color-interactive);
  border-color: var(--border-color-interactive);
  color: var(--text-color);

  &:hover {
    border-color: var(--background-color-selected);
  }

  &.ant-input-number-disabled:read-only {
    background-color: var(--background-color);
  }

  &.ant-input-number-disabled {
    background-color: var(--background-color);
    border-color: var(--border-color);

    * {
      color: var(--background-color-lighter);
    }
  }

  .ant-input-number-handler-wrap {
    border-left: 1px solid var(--background-color-interactive-light);
    background-color: var(--background-color-interactive-light);
    .ant-input-number-handler {
      background-color: var(--background-color-interactive-light);
      border-color: var(--border-color-interactive);
      color: var(--text-color);

      &.ant-input-number-handler-up-disabled, &.ant-input-number-handler-down-disabled {
        background-color: var(--background-color-interactive);
        > span > svg {
          fill: var(--text-color);
        }
      }
    }
  }
}

.ant-select-dropdown {
  background-color: var(--background-color-interactive-light);
  border-color: var(--border-color-interactive);

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: var(--text-color-selected);
    .ant-select-item-option-content {
      color: var(--background-color-light);
    }
  }

  .ant-select-item-option-content {
    color: var(--text-color);
  }

  .ant-select-item-option-selected {
    background-color: var(--background-color-selected);
    .ant-select-item-option-content {
      color: var(--background-color-light);
    }
  }
}

.ant-dropdown-menu {
  background-color: var(--background-color-lighter);
  border-radius: 4px;
  border: 1px solid var(--border-color);

  .ant-dropdown-menu-item:hover {
    background-color: var(--background-color-lighter);
  }

  .ant-dropdown-menu-item-active {
    background-color: var(--background-color-interactive);
    border-color: var(--border-color-interactive);
    cursor: initial;
  }
}

.ant-form-item-label label {
  color: var(--text-color);
}

.ant-alert {
  border-color: var(--border-color);

  &.ant-alert-error {
    background-color: #ff00002e;
  }

  * {
    color: var(--text-color);
  }
}

.ant-checkbox {
  &.ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--background-color-selected);
    border-color: var(--background-color-selected);
  }

  .ant-checkbox-inner {
    background-color: var(--background-color-interactive);
    border-color: var(--border-color-interactive);
  }
}

.ant-message-notice-content {
  background-color: var(--background-color-interactive-lighter);
  border-color: var(--border-color-lighter);
  * {
    color: var(--text-color);
  }
}

.ant-avatar {
  * {
    color: var(--background-color-lighter);
  }
}

.ant-collapse, .ant-collapse-content {
  .ant-collapse-header {
    color: var(--text-color) !important;
  }
  .ant-collapse-item {
    background-color: var(--background-color-light);
    border-color: var(--border-color-lighter) !important;
  }
  background-color: var(--background-color-light);
  border-color: var(--border-color-lighter);
}

.ant-slider {
  &:hover {
    .ant-slider-rail {
      background-color: var(--background-color-selected);
    }
  }

  .ant-slider-rail {
    background-color: var(--background-color-interactive-light);

  }

  .ant-slider-handle {
    background-color: var(--background-color-selected);
  }
}

.ant-switch {
  background-color: var(--background-color-interactive);

  &.ant-switch-checked {
    background-color: var(--background-color-selected);
  }
}
