.body-status {
  width: calc(64px * 5);
  height: calc(64px * 5.34375);
  padding: 24px;
  position: relative;

  &.disabled {
    .limb {
      cursor: default;

      &:hover {
        animation: none;
      }
    }
  }

  > div {
    display: flex;
  }

  .limb {
    margin: -12px;
    height: 64px;
    width: 64px;
    background-size: cover;
    cursor: pointer;
    position: relative;

    &:hover {
      animation: 1.5s blink infinite linear;
    }

    &.face {
      position: absolute;
      left: 64px*0.375;
      top: 64px*0.65625;
      pointer-events: none;
    }

    &.head {
      transform: translate(64px*1.625, 64px*0.28125);
      z-index: 1;
    }

    &.torso {
      z-index: 2;
    }

    &.handL {
      transform: translateY(-64px*0.0625);
    }

    &.legR, &.legL {
      margin: -21px;
      transform: translate(64px*0.96875, -64px*0.15625);
      z-index: 4;
    }

    &.handR, &.handL {
      width: 64px*2;
      z-index: 3;
    }

    &.legR, &.legL, &.head, &.torso {
      width: 64px*2;
      height: 64px*2;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
