@import "colors";

.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
  padding: 0;
  margin: 0;

  .chat-body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    overflow: auto;
    position: relative;
    margin-bottom: 57px;

    .chat-message {
      margin: 6px 0;
      position: relative;

      @media(max-width: 767px) {
        margin: -1px 0;
        border-bottom: none;
      }

      &.mentioned .ant-card-body {
        background: #e8b339;
        * {
          color: $background-color-light;
        }
      }

      &.grouped {
        margin-top: -6px;
        border-top-color: $border-color;

        .ant-card-head {
          display: none;
        }
      }

      .ant-card-head-title > a {
        height: auto;
        display: block;
        width: fit-content;

        .chat-message__title {
          display: flex;
          align-items: center;
          color: black;
          width: fit-content;

          &.online {
            .ant-avatar {
              border-color: $background-color-selected;
            }
          }

          .ant-avatar {
            background-color: transparent;
            border: 2px solid $background-color;
            margin: -4px 0;
            display: block;
            box-sizing: content-box;
          }

          .chat-message__nickname {
            margin-left: 12px;
          }
        }
      }

      .chat-time {
        cursor: pointer;
      }

      .ant-card-head {
        padding: 0 12px;

        .ant-card-head-wrapper > div {
          padding: 12px 0;
        }
      }

      .ant-card-body {
        word-break: break-word;
        white-space: pre-line;
        padding: 12px;

        .critMiss {
          background: rgba(255, 0, 0, 0.275);
        }

        .critHit {
          background: rgba(10, 10, 255, 0.275);
        }

        .command-message {
          display: flex;
          > b {
            margin-left: 4px;
            background: rgba(24, 144, 255, 0.025);
          }
        }

        .rp-message {
          margin: -12px;
          padding: 12px;
          width: auto;
          display: block;
          background: rgba(24, 144, 255, 0.075);

          .take-button {
            width: 100%;
          }
        }
      }

      .item {
        width: auto;
        margin-top: 12px;
      }
    }
  }

  .chat-controls {
    display: flex;
    align-items: center;
    width: inherit;
    position: fixed;
    bottom: 0;
    background: $background-color-light;
    padding: 12px;
    border-top: 1px solid $border-color;
    max-width: 654px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(calc(-50% - 67px));
    left: calc(50% + 124px);

    @media (max-width: 767px) {
      transform: translateX(-50%);
      left: calc(50%);
    }

    > span {
      padding: 6px;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
