// Grey: https://ant.design/docs/spec/colors
// And blue: https://ant.design/docs/spec/dark
$background-color: #000;
$background-color-light: #141414;
$background-color-lighter: #1f1f1f;
$background-color-lightest: #262626;

$selected: #15395b;
$text-color-selected: #b9d5f3;
$background-color-selected: #157ddc;

$border-color: #2b2b2b;
$border-color-light: #333333;
$border-color-light: #3e3e3e;

$text-color: #a7a7a7;

$background-color-interactive: #111d2c;
$background-color-interactive-light: #15395b;
$border-color-interactive: #112a45;
$background-color-interactive-lighter: #15395b;
