.settings {
  position: relative;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  .uid,.nickname {
    margin-top: 24px;
  }

  .ant-card-head {
    padding: 0;
    border-bottom: none;

    .ant-card-head-title {
      padding: 12px;
    }
  }

  > .ant-card-body {
    padding: 12px;

    .ant-card-body {
      padding: 0 12px 12px 12px;
    }
  }

  @media(max-width: 767px) {
    border: none;
    box-shadow: none;

    > .ant-card-body {
      padding: 0;
    }
  }
}

.loader {
  position: absolute;
  top: -16px;
  right: -16px;
  z-index: 1;
  font-size: 32px;
  line-height: 32px;

  @media(max-width: 767px) {
    top: 0;
    right: 0;
  }
}

div > img.chat-image {
  max-height: 256px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border: 2px solid transparent;
  transition-duration: 0.3s;
  border-radius: 5px;

  &:hover {
    border-color: #1890ff;
  }
}

.image-modal {
  .ant-modal-header {
    position: sticky;
    top: 0;

    .ant-modal-title > div {
      display: flex;
      justify-content: space-between;
      position: relative;

      .anticon {
        cursor: pointer;
        padding: 19px;
        position: absolute;
        top: -16px;
        right: -24px;
      }
    }
  }
}
