@import "./colors";

.loader {
  z-index: 10;
  font-size: 32px;
  line-height: 32px;
  position: sticky;
  height: 0;
  top: 16px;
  right: 0;
  margin: -40px -8px 40px auto;
  width: 0;

  @media(max-width: 767px) {
    top: 0;
    right: 0;
    margin: -40px 32px 40px auto;
  }
}

img.chat-image {
  max-height: 256px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border: 2px solid transparent;
  transition-duration: 0.3s;
  border-radius: 5px;

  &:hover {
    border-color: #1890ff;
  }
}

.image-modal {
  .ant-modal-header {
    position: sticky;
    top: 0;

    .ant-modal-title > div {
      display: flex;
      justify-content: space-between;
      position: relative;

      .anticon {
        cursor: pointer;
        padding: 19px;
        position: absolute;
        top: -16px;
        right: -24px;
        transition-duration: 0.3s;
        border-radius: 4px;

        &:hover {
          background: $background-color-light;
        }
      }
    }
  }
}

.help pre {
  white-space: pre-line;
}

.amount-modal {
  width: fit-content !important;

  .ant-input-number {
    width: 100%;
  }
}
