@import "./colors";

.loader {
  display: block !important;
  z-index: 10;
  font-size: 32px;
  line-height: 32px;
  position: fixed;
  top: 12px;
  right: 12px;
  transition-duration: 0.3s;
  pointer-events: none;
  opacity: 0.5;

  @media(max-width: 767px) {
    top: 48px;
    font-size: 20px;
  }
}

.app > .ant-card {
  height: fit-content;
  margin: auto 0;
}

div.ant-card {
  max-width: 654px;
  width: 100%;
}

.ant-card .ant-collapse-header {
  min-height: 46px;
}

.ant-card img {
  width: 100%;
}

img.chat-image {
  max-height: 256px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border: 2px solid transparent;
  transition-duration: 0.3s;
  border-radius: 5px;

  &:hover {
    border-color: #1890ff;
  }
}

.image-modal {
  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 512px;
  }

  .ant-modal-header {
    position: sticky;
    top: 0;

    .ant-modal-title > div {
      display: flex;
      justify-content: space-between;
      position: relative;

      .anticon {
        cursor: pointer;
        padding: 19px;
        position: absolute;
        top: -16px;
        right: -24px;
        transition-duration: 0.3s;
        border-radius: 4px;

        &:hover {
          background: $background-color-light;
        }
      }
    }
  }
}

.ant-empty {
  position: fixed;
  top: 50%;
  left: calc(50% + 42px);
  transform: translate(calc(-50% + 50px), -50%);

  @media(max-width: 767px) {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ant-empty-img-default {
    filter: invert(1);
  }
}

.help pre {
  white-space: pre-line;
}

.amount-modal {
  width: fit-content !important;

  .ant-input-number {
    width: 100%;
  }
}

.error-boundary {
  display: flex;
  flex-direction: column;
  align-items: center;

  .error-boundary-message {
    height: 256px;
    overflow: scroll;
  }

  button {
    margin-top: 24px;
    width: fit-content;
  }
}

.ant-spin-nested-loading {
  width: 100%;

  > div > .ant-spin {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .ant-spin-container {
    overflow: hidden;
    height: 100%;

    @media (max-width: 767px) {
      height: 100vh;
      width: 100vw;
      padding-top: 48px;
    }
  }
}

.ant-spin-blur::after {
  opacity: 0;
}
