@import './colors';

.app > div.items {
  max-width: initial;
  width: 100%;
  min-height: calc(100% - 64px);
  margin: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .items-controls {
    display: flex;
    margin-bottom: 6px;
    margin: -24px -24px 12px -24px;
    padding: 24px 24px 12px 24px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $background-color-light;
    border-radius: 2px 2px 0 0;

    > .ant-btn {
      width: fit-content;
    }

    > * {
      &:not(&:last-child) {
        margin-right: 6px;
      }
    }
  }

  .items-body {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100% - 64px);
  }

  .items-load-button {
    margin-top: 6px;
    width: 100%;
  }
}

.item-creator-modal {
  .ant-modal-content {
    padding-bottom: 68px;
    .ant-modal-header {
      position: sticky;
      top: 0;
      z-index: 1;
      padding: 12px;

      .ant-modal-title {
        display: flex;
        justify-content: flex-end;
      }
    }

    .ant-modal-body {
      padding: 12px;
    }
  }
}

.items-approved-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $border-color-interactive;
  background: $background-color-interactive;
  color: $text-color;
  padding: 4px 15px;
  cursor: pointer;

  &:hover {
    background-color: $border-color-interactive;
    border-color: #40a9ff;
  }

  &:focus {
    background-color: $background-color-interactive-lighter;
    border-color: #40a9ff;
    color: #40a9ff !important;
    outline: none;
  }

  button {
    margin-right: 6px;
  }
}

.item-creator {

  .item-creator__body {
    .ant-card-head {
      padding: 0 12px;
      border-bottom: none;

      .ant-card-head-title {
        padding: 12px 0;
      }
    }

    .ant-card-body {
      padding: 0 12px 12px 12px;
      border-top: none;
    }
  }

  .item-creator__controls {
    margin-top: 12px;
    float: right;
    height: 56px;
    width: 100%;
    padding: 12px 12px 12px 50%;
    line-height: 65px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background: $background-color-light;
    border: 1px solid $border-color;
  }
}
