@import 'colors.css';

div.ant-card.items {
  max-width: initial;
  width: 100%;
  min-height: calc(100% - 64px);
  margin: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @media(max-width: 500px) {
    margin: 0;
  }

  .items-controls {
    display: flex;
    margin-bottom: 6px;
    margin: -24px -24px 12px -24px;
    padding: 24px 24px 12px 24px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-color-light);
    border-radius: 2px 2px 0 0;

    @media(max-width: 767px) {
      flex-wrap: wrap;
      justify-content: flex-start;

      > * {
        margin-bottom: 6px;
      }

      button.ant-btn:not(.ant-dropdown-trigger) {
        width: 100%;
      }
      .ant-dropdown-trigger {
        //width: 20%;
      }
      .ant-input-number {
        //width: 75%;
      }
    }

    > .ant-btn {
      width: fit-content;

      &:hover {
        svg {
          fill: var(--background-color-selected);
        }
      }
    }

    > * {
      &:not(&:last-child) {
        margin-right: 6px;
      }
    }
  }

  .items-body {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100% - 64px);
  }

  .items-load-button {
    margin-top: 6px;
    position: sticky;
    bottom: 12px;
    width: calc(100% - 48px);
  }
}

.item-creator-modal {
  .ant-modal-content {
    padding-bottom: 68px;
    .ant-modal-header {
      position: sticky;
      top: 0;
      z-index: 1;
      padding: 12px;

      .ant-modal-title {
        display: flex;
        justify-content: flex-end;
      }
    }

    .ant-modal-body {
      padding: 12px;
    }
  }
}

.items-approved-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--border-color-interactive);
  background: var(--background-color-interactive);
  color: var(--text-color);
  padding: 4px 15px;
  cursor: pointer;

  &:hover {
    background-color: var(--border-color-interactive);
    border-color: #40a9ff;
  }

  &:focus {
    background-color: var(--background-color-interactive-lighter);
    border-color: #40a9ff;
    color: #40a9ff !important;
    outline: none;
  }

  button {
    margin-right: 6px;
  }
}

.item-creator {
  .item-creator__body {
    .ant-card-head {
      padding: 0 12px;
      border-bottom: none;

      .ant-card-head-title {
        padding: 12px 0;
      }
    }

    .ant-card-body {
      padding: 0 12px 12px 12px;
      border-top: none;
    }
  }

  .item-creator__controls {
    margin-top: 12px;
    float: right;
    height: 56px;
    width: 100%;
    padding: 12px 12px 12px 50%;
    line-height: 65px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background: var(--background-color-light);
    border: 1px solid var(--border-color);

    > button {
      width: fit-content;
    }

    > :first-child {
      margin-right: 32px;
    }
  }
}

.item-deleting-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--background-color-light);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    margin: 6px;
    padding: 6px;
    background: var(--background-color-lighter);
    border: 1px solid var(--border-color-lighter);
    border-radius: 4px;
    width: 300px;
  }

  .secret {
    width: 40px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: blue;
    border: none;

    &:hover {
      opacity: 0.1;
    }
  }
}
