@import "./colors";

.menu {
  display: flex;
  align-items: center;
  background-color: $background-color-light;
  min-width: 200px;

  @media(max-width: 767px) {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 48px;
    overflow: auto;
    z-index: 1000;

    .ant-menu.ant-menu-horizontal {
      width: fit-content;
      justify-content: center;
      min-width: 100vw;
      position: relative;
    }
  }

  .ant-menu {
    .ant-menu-submenu {
      &.ant-menu-submenu-active {
        .ant-menu-submenu-arrow {
          &:before, &:after {
            background: $background-color-selected;
          }
        }
      }

      .ant-menu-submenu-arrow {
        &:before, &:after {
          background: $background-color-lightest;
        }
      }
    }

    .ant-menu-item.unread {
      a {
        animation: pulse-color 2s infinite;
      }

      svg {
        border-radius: 50%;
        animation: pulse-outline 2s infinite;
      }
    }

    &.ant-menu-horizontal {
      width: 100vw;
      height: 48px;
      position: fixed;
      z-index: 2;
      flex-direction: row;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
}

@keyframes pulse-color {
  0% {
  }

  70% {
    color: #157ddc;
  }

  100% {
  }
}

@keyframes pulse-outline {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    fill: #157ddc;
  }

  100% {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}
