@import "colors.css";

.settings {
  position: relative;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .approved, .nickname {
    margin-top: 24px;
  }

  .ant-card-head {
    padding: 0;
    border-bottom: none;

    .ant-card-head-title {
      padding: 12px;
    }
  }

  > .ant-card-body {
    padding: 12px;

    .ant-card-body {
      padding: 0 12px 12px 12px;
    }
  }

  @media(max-width: 767px) {
    border: none;
    box-shadow: none;

    > .ant-card-body {
      padding: 0;
    }
  }

  .avatar button:hover {
    svg {
      fill: var(--background-color-selected);
    }
  }
}
