.app {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.ant-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.ant-card {
    max-width: 654px;
    width: 100%;
}

.ant-card .ant-collapse-header {
    min-height: 46px;
}

.ant-card img {
    width: 100%;
}

