.app {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    height: 100vh;
    overflow: auto;
}

@media(max-width: 767px) {
    .app {
        margin-top: 48px;
    }
}

.app > div {
    width: 100%;
}

div.ant-card {
    max-width: 654px;
    width: 100%;
}

.ant-card .ant-collapse-header {
    min-height: 46px;
}

.ant-card img {
    width: 100%;
}

